body {
    font-family: 'Comic Sans MS', cursive;
    line-height: 1.6;
    margin: 0;
    background-color: #785d5d;
  }
  
  .navbar {
    background-color: #937474;
    padding: 10px;
    text-align: center;
  }
  
  .navbar a {
    color: #000000;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing:2px;
    font-weight: bold;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  .section {
    padding: 20px;
    background-color: #fff;
  }
  
  .section-alt {
    padding: 20px;
    background-color: #eaeaea;
  }
  
  .button-link {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .button-link:hover {
    background-color: #45a049;
  }
  